<html>
  <body>
    <button id="button">start experience</button>
  </body>
  <script>
    const $button = document.getElementById("button");

    function deviceOrientationPermission() {
      return new Promise((resolve, reject) => {
        if (typeof DeviceOrientationEvent.requestPermission === "function") {
          DeviceOrientationEvent.requestPermission()
            .then((permissionState) => {
              if (permissionState === "granted") {
                resolve("granted");
              }
            })
            .catch(reject);
        } else {
          if (navigator.userAgent.indexOf("Mobile") === -1) {
            reject("Not a mobile device");
          }
          resolve("granted"); // we suppose it's automatically granted (android)
        }
      }); 
    }

    $button.addEventListener("click", () => {
      if (!window.DeviceOrientationEvent) {
        alert("device orientation not available on your device");
        return;
      }
      deviceOrientationPermission()
        .then((result) => {
          if (result === "granted") {
            window.addEventListener("deviceorientation", (event) => {
              const rotateDegrees = event.alpha; // alpha: rotation around z-axis
              const leftToRight = event.gamma; // gamma: left to right
              const frontToBack = event.beta; // beta: front back motion
              // ` frontToBack: ${frontToBack}, leftToRight: ${leftToRight}, rotateDegrees: ${rotateDegrees}`
            });
          }
        })
        .catch((err) => {
          alert(err.toString());
        });
    });
  </script>
</html>