/* variables */
:root {
  --light-gray: #E8E7E8;
}

/* fonts */

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Montserrat"), url("/fonts/Montserrat-Regular.woff2") format("woff2"), url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Peabecki";
  font-style: normal;
  font-display: auto;
  src: local("peabecki"), url("/fonts/peabecki.woff2") format("woff2"), url("/fonts/peabecki.woff") format("woff");
}

/* reset css */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  overflow-x: hidden;
}

#app {
  font-family: "Peabecki";
}
